<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grading</title>
    <meta name="description" content="Kasutajaliidesed, kodutöö 3">
    <meta name="author" content="Eva Maria Veitmaa, 155408IAPB">

    <!-- Style
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="style/custom.css" rel="stylesheet">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/vue.js"></script>

</head>
<body>

<main id="app" class="container" role="main">
    <h1 id="pageTitle">Kodutöö 2 hindamine</h1>
    <hr style="margin-top: 0;">

    <div id="students">
        <form id="studentsForm">
            <div class="box-header">
                <h3>Tudengid</h3>
            </div>
            <div class="box-with-margin">
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="studentCodeOne">Üliõpilaskood 1<span class="req"> *</span></label>
                        <input id="studentCodeOne" class="form-control" v-model="studentCodeOne" type="text" required>
                    </div>

                    <div class="form-group col-sm">
                        <label for="studentCodeTwo">Üliõpilaskood 2</label>
                        <input id="studentCodeTwo" class="form-control" v-model="studentCodeTwo" type="text" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="dijkstraName">Dijkstra kasutajanimi<span class="req"> *</span></label>
                        <input id="dijkstraName" class="form-control" v-model="dijkstraName" type="text" required>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="mainPoints">
        <form id="mainPointsForm">
            <div class="box-header">
                <h3>Baasülesande punktid</h3>
            </div>
            <div class="box-with-margin">
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="waitingLinePoints">Ootejärjekord<span class="req"> *</span></label>
                        <input id="waitingLinePoints" class="form-control" type="number" value="0" min="0"
                               v-model="mainPoints.waitingLinePoints" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="sortingPoints">Sortimine (lohistamine või klõps)<span class="req"> *</span></label>
                        <input id="sortingPoints" class="form-control" type="number" value="0" min="0" v-model="mainPoints.sortingPoints"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="extraTaskPoints">Tähtajaline lisaülesanne<span class="req"> *</span></label>
                        <input id="extraTaskPoints" class="form-control" type="number" v-model="mainPoints.extraTaskPoints"
                               value="0" min="0" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="livesPoints">Elude kaotamine<span class="req"> *</span></label>
                        <input id="livesPoints" class="form-control" type="number" v-model="mainPoints.livesPoints" value="0" min="0"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="restartPoints">Mängu läbikukkumine, punktid ja kordamine<span class="req"> *</span></label>
                        <input id="restartPoints" class="form-control" type="number" v-model="mainPoints.restartPoints" value="0" min="0"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="animationPoints">Kasutaja tähelepanu juhtitakse animatsioonidega<span
                                class="req"> *</span></label>
                        <input id="animationPoints" class="form-control" type="number" v-model="mainPoints.animationPoints"
                               value="0" min="0" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h5>Baasülesande punkte kokku: {{mainPointsTotal}}</h5>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="extraPoints">
        <form id="extraPointsForm">
            <div class="box-header">
                <h3>Lisad</h3>
            </div>
            <div class="box-with-margin">
                <div class="form-check">
                    <input id="goodDesign" class="form-check-input" type="checkbox" v-model="extraPoints.goodDesign">
                    <label class="form-check-label" for="goodDesign">Ilus kujundus</label>
                </div>

                <div class="form-check">
                    <input id="designSupportsTheme" class="form-check-input" type="checkbox"
                           v-model="extraPoints.designSupportsTheme">
                    <label class="form-check-label" for="designSupportsTheme">Mängu kujundus toetab teemat</label>
                </div>

                <div class="form-check">
                    <input id="goodAppearances" class="form-check-input" type="checkbox" v-model="extraPoints.goodAppearances">
                    <label class="form-check-label" for="goodAppearances">Head ilmumised</label>
                </div>

                <div class="form-check">
                    <input id="goodSortingFeedback" class="form-check-input" type="checkbox" v-model="extraPoints.goodSortingFeedback">
                    <label class="form-check-label" for="goodSortingFeedback">Hea sortimise tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="goodExtraTaskEpisode" class="form-check-input" type="checkbox" v-model="extraPoints.goodExtraTaskEpisode">
                    <label class="form-check-label" for="goodExtraTaskEpisode">Hea lisaülesande "episood"</label>
                </div>

                <div class="form-check">
                    <input id="goodFailureFeedback" class="form-check-input" type="checkbox" v-model="extraPoints.goodFailureFeedback">
                    <label class="form-check-label" for="goodFailureFeedback">Hea läbikukkumiste tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="feedbackSound" class="form-check-input" type="checkbox" v-model="extraPoints.feedbackSound">
                    <label class="form-check-label" for="feedbackSound">Heliline tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="learnability" class="form-check-input" type="checkbox" v-model="extraPoints.learnability">
                    <label class="form-check-label" for="learnability">Mängu õpitavus on hea</label>
                </div>

                <div class="form-check">
                    <input id="dragAndDrop" class="form-check-input" type="checkbox" v-model="extraPoints.dragAndDrop">
                    <label class="form-check-label" for="dragAndDrop">Sorditavaid elemente saab lohistada
                        (<i>drag&drop</i>)</label>
                </div>

                <div class="form-check">
                    <input id="responsiveDesign" class="form-check-input" type="checkbox" v-model="extraPoints.responsiveDesign">
                    <label class="form-check-label" for="responsiveDesign">Töötab ka mobiilil</label>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h5>Lisapunkte kokku: {{extraPointsTotal}}</h5>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="latePenalty">
        <form id="latePenaltyForm">
            <div class="box-header">
                <h3>Esitatud</h3>
            </div>
            <div class="box-with-margin">
                <div class="form-check col-sm">
                    <input id="onTime" name="submissionSelection" v-model="submissionSelection" class="form-check-input" value="onTime" type="radio" required>
                    <label for="onTime">Õigeaegselt</label>
                </div>
                <div class="form-check col-sm">
                    <input id="lateOneWeek" name="submissionSelection" v-model="submissionSelection" class="form-check-input" value="lateOneWeek" type="radio" required>
                    <label for="lateOneWeek">Hilinemisega 1 nädal</label>
                </div>
                <div class="form-check col-sm">
                    <input id="lateForMore" name="submissionSelection" v-model="submissionSelection" class="form-check-input" value="lateForMore" type="radio" required>
                    <label for="lateForMore">Hilinemisega rohkem kui 1 nädal</label>
                </div>
            </div>
        </form>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="js/script.js"></script>

</body>
</html>