<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grading</title>
    <meta name="description" content="Kasutajaliidesed, kodutöö 3">
    <meta name="author" content="Eva Maria Veitmaa, 155408IAPB">

    <!-- Style
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="style/custom.css" rel="stylesheet">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/vue.js"></script>

</head>
<body>

<main id="app" class="container" role="main">
    <h1 id="pageTitle">Kodutöö 2 hindamine</h1>
    <hr style="margin-top: 0;">

    <div id="students">
        <form id="studentsForm">
            <div class="box-header">
                <h3>Tudengid</h3>
            </div>
            <div class="box-with-margin">
                <div class="row">
                    <div class="form-group col-sm">
                        <label for="studentCodeOne">Üliõpilaskood 1<span class="req"> *</span></label>
                        <input id="studentCodeOne" class="form-control" v-model="current.studentCodeOne" type="text"
                               required>
                    </div>

                    <div class="form-group col-sm">
                        <label for="studentCodeTwo">Üliõpilaskood 2</label>
                        <input id="studentCodeTwo" class="form-control" v-model="current.studentCodeTwo" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="dijkstraAddress">Uni-ID<span class="req"> *</span></label>
                        <input id="dijkstraAddress" class="form-control" v-model="current.dijkstraAddress" type="text"
                               required>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="basePoints">
        <form id="basePointsForm">
            <div class="box-header">
                <h3>Baasülesanded</h3>
            </div>
            <div class="box-with-margin">
                <div class="form-check">
                    <input id="waitingLine" class="form-check-input" type="checkbox"
                           v-model="current.requirements.waitingLine">
                    <label class="form-check-label" for="waitingLine">Ootejärjekord</label>
                </div>

                <div class="form-check">
                    <input id="sorting" class="form-check-input" type="checkbox"
                           v-model="current.requirements.sorting">
                    <label class="form-check-label" for="sorting">Sortimine (lohistamine või klõps)</label>
                </div>

                <div class="form-check">
                    <input id="extraTask" class="form-check-input" type="checkbox" 
                            v-model="current.requirements.extraTask">
                    <label class="form-check-label" for="extraTask">Tähtajaline lisaülesanne</label>
                </div>

                <div class="form-check">
                    <input id="lives" class="form-check-input" type="checkbox" v-model="current.requirements.lives">
                    <label class="form-check-label" for="lives">Elude kaotamine</label>
                </div>

                <div class="form-check">
                    <input id="restarting" class="form-check-input" type="checkbox" 
                            v-model="current.requirements.restarting">
                    <label class="form-check-label" for="restarting">Mängu läbikukkumine, punktid ja kordamine</label>
                </div>

                <div class="form-check">
                    <input id="animations" class="form-check-input" type="checkbox" 
                        v-model="current.requirements.animations">
                    <label class="form-check-label" for="animations">Kasutaja tähelepanu juhtitakse 
                        animatsioonidega</label>
                </div>

                <div class="form-group">
                    <label for="requirementsComment">Kommentaar:</label>
                    <textarea class="form-control" rows="2" id="requirementsComment" v-model="current.requirementsComment"></textarea>
                </div>

                <div class="form-check">
                    <input id="alternativeRequirements" class="form-check-input" type="checkbox" v-model="current.alternativeRequirements">
                    <label class="form-check-label" for="alternativeRequirements">Alternatiivne baas lahendus</label>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h5>{{isBaseDoneString}}</h5>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="extraPoints">
        <form id="extraPointsForm">
            <div class="box-header">
                <h3>Lisad</h3>
            </div>
            <div class="box-with-margin">
                <div class="form-check">
                    <input id="goodDesign" class="form-check-input" type="checkbox" v-model="current.extras.goodDesign">
                    <label class="form-check-label" for="goodDesign">Ilus kujundus</label>
                </div>

                <div class="form-check">
                    <input id="designSupportsTheme" class="form-check-input" type="checkbox"
                           v-model="current.extras.designSupportsTheme">
                    <label class="form-check-label" for="designSupportsTheme">Mängu kujundus toetab teemat</label>
                </div>

                <div class="form-check">
                    <input id="goodAppearances" class="form-check-input" type="checkbox"
                           v-model="current.extras.goodAppearances">
                    <label class="form-check-label" for="goodAppearances">Head ilmumised</label>
                </div>

                <div class="form-check">
                    <input id="goodSortingFeedback" class="form-check-input" type="checkbox"
                           v-model="current.extras.goodSortingFeedback">
                    <label class="form-check-label" for="goodSortingFeedback">Hea sortimise tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="goodExtraTaskEpisode" class="form-check-input" type="checkbox"
                           v-model="current.extras.goodExtraTaskEpisode">
                    <label class="form-check-label" for="goodExtraTaskEpisode">Hea lisaülesande "episood"</label>
                </div>

                <div class="form-check">
                    <input id="goodFailureFeedback" class="form-check-input" type="checkbox"
                           v-model="current.extras.goodFailureFeedback">
                    <label class="form-check-label" for="goodFailureFeedback">Hea läbikukkumiste tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="feedbackSound" class="form-check-input" type="checkbox"
                           v-model="current.extras.feedbackSound">
                    <label class="form-check-label" for="feedbackSound">Heliline tagasiside</label>
                </div>

                <div class="form-check">
                    <input id="learnability" class="form-check-input" type="checkbox"
                           v-model="current.extras.learnability">
                    <label class="form-check-label" for="learnability">Mängu õpitavus on hea</label>
                </div>

                <div class="form-check">
                    <input id="dragAndDrop" class="form-check-input" type="checkbox"
                           v-model="current.extras.dragAndDrop">
                    <label class="form-check-label" for="dragAndDrop">Sorditavaid elemente saab lohistada
                        (<i>drag&drop</i>)</label>
                </div>

                <div class="form-check">
                    <input id="responsiveDesign" class="form-check-input" type="checkbox"
                           v-model="current.extras.responsiveDesign">
                    <label class="form-check-label" for="responsiveDesign">Töötab ka mobiilil</label>
                </div>

                <div class="form-group">
                    <label for="extrasComment">Kommentaar:</label>
                    <textarea class="form-control" rows="2" id="extrasComment" v-model="current.extrasComment"></textarea>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="alternativeExtraPoints">Alternatiivsed lisa punktid</label>
                        <input id="alternativeExtraPoints" class="form-control" type="number" v-model="current.extraExtraPoints" min="0" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm">
                        <label for="extraPenalty">Karistus punktid</label>
                        <input id="extraPenalty" class="form-control" type="number" v-model="current.extraPenalty" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h5>Lisapunkte kokku: {{extraPointsTotal}}</h5>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="latePenalty">
        <form id="latePenaltyForm">
            <div class="box-header">
                <h3>Esitatud</h3>
            </div>
            <div class="box-with-margin">
                <div class="form-check col-sm">
                    <input id="onTime" name="submissionSelection" v-model="current.submitted" class="form-check-input"
                           value="onTime" type="radio" required>
                    <label for="onTime">Õigeaegselt</label>
                </div>
                <div class="form-check col-sm">
                    <input id="lateOneWeek" name="submissionSelection" v-model="current.submitted"
                           class="form-check-input" value="lateOneWeek" type="radio" required>
                    <label for="lateOneWeek">Hilinemisega 1 nädal</label>
                </div>
                <div class="form-check col-sm">
                    <input id="lateForMore" name="submissionSelection" v-model="current.submitted"
                           class="form-check-input" value="lateForMore" type="radio" required>
                    <label for="lateForMore">Hilinemisega rohkem kui 1 nädal</label>
                </div>

                <div class="form-group">
                    <label for="submissionComment">Kommentaar:</label>
                    <textarea class="form-control" rows="2" id="submissionComment" v-model="current.submittedComment"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h5>Trahvipunkte: {{latePenaltyTotal}}</h5>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div id="data">
        <div class="box-header">
            <h3>Tulemus</h3>
        </div>
        <div class="box-with-margin">
            <table class="table table-striped">
                <!--<thead>
                <tr>
                    <th scope="col">Üliõpilaskood 1</th>
                    <th scope="col">Üliõpilaskood 2</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>-->
                <tbody>
                <tr>
                    <th scope="row">Üliõpilaskood 1</th>
                    <td>{{current.studentCodeOne}}</td>
                </tr>
                <tr>
                    <th scope="row">Üliõpilaskood 2</th>
                    <td>{{current.studentCodeTwo}}</td>
                </tr>
                <tr>
                    <th scope="row">Dijkstra aadress</th>
                    <td><a v-bind:href="address" target="_blank">{{address}}</a></td>
                </tr>
                <tr>
                    <th scope="row">Baasülesande punktid</th>
                    <td>{{isBaseDoneString}}</td>
                </tr>
                <tr>
                    <th scope="row">Lisapunktid</th>
                    <td>{{extraPointsTotal}}</td>
                </tr>
                <tr>
                    <th scope="row">Trahvipunktid hilinemise eest</th>
                    <td>{{latePenaltyTotal}}</td>
                </tr>
                <tr class="bg-primary">
                    <th scope="row">Punktid kokku</th>
                    <td>{{pointsTotal}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="pos-f-t fixed-bottom ">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <div class="row">
                    <div class="col text-white"><b>Punkte kokku:</b></div>
                    <div class="col text-white"><b>{{pointsTotal}}</b></div>
                </div>

                <div class="text-white">{{current.studentCodeOne}}</div>
                <div class="text-white">{{current.studentCodeTwo}}</div>

                <div><a v-bind:href="address" target="_blank">{{address}}</a></div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-info"></span>&nbsp;&nbsp;Info
            </button>
        </nav>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="js/script.js"></script>

</body>
</html>