html {
    overflow-y: scroll;
}

body {
    background-color: #fcfcfc;
}

main {
    margin-bottom: 4em;
}

.half-divider {
    width: 50%;
}

td {
    white-space: normal !important;
    word-wrap: break-word;
}
table {
    table-layout: fixed;
}

h3 {
    margin-bottom: 0.7em;
}

.wrapped {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.req {
    color: red;
}

.ok {
    color: green;
}

.row {
    margin-bottom: 1em;
    margin-top: 1em;
}

.invalid-tooltip {
    background-color: transparent;
    color: #d9534f;
    font-weight: bold;
    padding-left: 0;
}

.box-header {
    background-color: #fefefe;
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;
    box-shadow: 0 0 0.5em #e0e0e0;
    border: 1px solid #dbdbdb;
}

.box-with-margin {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;
    box-shadow: 0 0 0.5em #e0e0e0;
    border: 1px solid #dbdbdb;
}

.justified-text {
    text-align: justify;
}

.image {
    padding-top: 1.2em;
    padding-bottom: 2em;
}

#pageTitle {
    padding: 1em 0.2em;
}